{
  "presets": [
    ["@babel/preset-env", {
      "loose": true,
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }]
  ],
  "plugins": [
    "@babel/proposal-object-rest-spread"
  ],
  "env": {
    "umd": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            browsers: ['ie >= 11']
          }
        }]
      ]
    }
  }
}
